{% extends 'base.html' %}

{% block content %}
<button class = "btn_style"><a href="/create/">작성</a></button>
<button class = "btn_style"><a href="/search/">검색</a></button>
<br><br>
<table class = "todo_table">
    {% for todo in todos %}
        <tr> 
            <th>{{todo.title}}</th>
            <td>{{todo.deadline}} 까지</td>
            <td id="btn_table"><button><a href="update/{{todo.id}}/">수정</a></button></td>
            <td id="btn_table"><button><a href="delete/{{todo.id}}/">완료</a></button></td>
        </tr>
    {% endfor %}       
</table>
{% endblock %} 
